html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
img {box-sizing: content-box;}

body {
  background-color: $background-dark;
}

a, a:visited {
	text-decoration: none;
	position: relative;
	color: $txt-white;
	&:after {
		content: '';
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: $txt-white;
		transition: 0.5s;
	}
	&:hover:after {
		width: 100%;
	}
}

@mixin mobile {
  @media (max-width: $breakpoint) {
    padding: 0 6%;
    header {
      h1 {
        font-size: $mobile_h1_size;
      }
    }
    form {
      width: 70vw;
    }
  }
}

#pageContent {
  padding: 0 17%;
  @include mobile();
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margin-y;
  h1 {
    color: $txt-red;
    margin: 0px;
    font-size: $header_h1_size;
    transition: transform 1000ms;
    &:hover {
      transform: scale(1.2);  
      cursor: pointer;
    }
  }
  form {
    display: flex;
    align-items: center;
    border: 1px solid $txt-white;
    border-radius: 30px;
    width: 22vw;
    padding: 0 1%;
    #search {
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      color: $txt-white;
      margin: 2%;
   }
  } 
}

footer {
  margin-top: 6%;
  hr {
    color: $txt-red;
  }
  p {
    color: $txt-white;
  }
}

button {
  background-color: $txt-red;
  color: $txt-white;
  padding: 6px 30px;
  border: none;
  border-radius: 22px;
  box-shadow: 6px 9px rgba(0, 0, 0, 0.336);
  transition: transform 1000ms;
    &:hover {
      transform: scale(1.2);  
      cursor: pointer;
    }
}