.page-detail {
  section {
    margin-top: 3%;
    h2 {
      color: $txt-red;
    }
  }
}

.hero {
  height: 600px;
  display: flex;
  justify-content: end;

  border-top-left-radius: 22px;
  border-top-right-radius: 22px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;

  button {
    align-self: end;
    margin: 3%;
    background-color: $txt-red;
    color: $txt-white;
    border: none;
  }
}

.presentation {
  color: $txt-white;
  .heading {
    display: flex;
    justify-content: space-between;
    .rating {
      color: $txt-red;
    }
  }
  .details {
    display: flex;
    flex-flow: row wrap;
    * {
      flex: 22%;
    }
  }
}

#trailer {
  video {
    width: 100%;
  }
}

#screenshots {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  h2 {
    flex: 100%;
    align-self: flex-start;
  }
  img {
    width: 49%;
    border-radius: 6%;;
    margin-bottom: 2%;
  }
}