.hero {
  margin-top: 6%;
  height: 600px;
  display: flex;
  justify-content: end;

  border-top-left-radius: 22px;
  border-top-right-radius: 22px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;

  button {
    align-self: end;
    margin: 3%;
    background-color: $txt-red;
    color: $txt-white;
    border: none;
  }
}

.presentation {
  margin-top: 3%;
  color: $txt-white;
  .heading {
    display: flex;
    justify-content: space-between;
    .rating {
      color: $txt-red;
    }
  }
  .details {
    display: flex;
    flex-flow: row wrap;
    * {
      flex: 22%;
    }
  }
}

.buy {
  margin-top: 6%;
  h2 {
    color: $txt-red;
  }
}
